pkgbase = nelko-spp-bridge
	pkgdesc = CUPS to classic Bluetooth SPP label-printer bridge (fast path for Nelko PL70e and similar)
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/ivanolme-lgtm/nelko-spp-bridge
	arch = any
	license = MIT
	depends = python
	depends = bluez
	depends = systemd
	source = nelko_spp_bridge.py::https://raw.githubusercontent.com/ivanolme-lgtm/nelko-spp-bridge/v1.0.0/nelko_spp_bridge.py
	source = nelko-spp-bridge.service::https://raw.githubusercontent.com/ivanolme-lgtm/nelko-spp-bridge/v1.0.0/systemd/nelko-spp-bridge.service
	source = nelko-spp-bridge.conf.example::https://raw.githubusercontent.com/ivanolme-lgtm/nelko-spp-bridge/v1.0.0/config/nelko-spp-bridge.conf.example
	source = README.md::https://raw.githubusercontent.com/ivanolme-lgtm/nelko-spp-bridge/v1.0.0/README.md
	sha256sums = 178ca4e32beb9bcfdd8d4093caf4670217227c85d8ea7ad0df9c30cb5f6e9bf8
	sha256sums = c3675a1acd6a81b76c0a9d28195fa247c0eeace8cff8a4cfeeb3ce58403b0daa
	sha256sums = d43d1218cd8a265c8f364f11d82d21a5c0ce3c096f72d056c3d649d25cda44c4
	sha256sums = f8af8b20948276c093b177b8480441873de025d41a2e97ab9a9edfc310dd2829
pkgname = nelko-spp-bridge